<fc-layoutpanel>
    <fc-layoutrow fccontent fcSpans="7,3">
        <div fccontent1>
            <fc-layoutcol fccontent1 fcSpans="8,2">
                <div fccontent1 style="width: 99.59%; border-right-style:solid; border-width: 1px; border-color: #888;">
                    <h1 style="width: 100%; text-align: center;margin: 10px 0 20px 0;">全路固定资产分布情况可视化展示</h1>
                    <div style="width: 42%;">
                        <fc-text fccontent1 [(ngModel)]="userName" fcLabel="资产分类" style="width: 20px;" fcType="text" fcSize="small"></fc-text>
                        <fc-combo fccontent1 fcLabel="资产使用状态"></fc-combo>
                    </div>
                    <div>
                        <h1>地图</h1>
                        <h1>地图</h1>
                        <h1>地图</h1>
                        <h1>地图</h1>
                        <h1>地图</h1>
                        <h1>地图</h1>
                        <h1>地图</h1>
                        <h1>地图</h1>
                        <h1>地图</h1>
                    </div>
                </div>
                <div fccontent2 style="width: 20%; height: 100%; border-style:solid; border-width: 1px; background-color: white;">
                    <fc-tlbform fccontent1 fcLayout="center" fcType="primary"></fc-tlbform>
                </div>
            </fc-layoutcol>
        </div>
        <div fccontent1>
            <fc-layoutcol fccontent1>
                <div fccontent1>
                    <span>你好，hello3</span>
                </div>
                <div fccontent2>
                    <span>你好，hello4</span>
                </div>
            </fc-layoutcol>
        </div>
    </fc-layoutrow>
</fc-layoutpanel>